@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import "variables2";

html {
  max-width: 100%;
  min-height: 100vh;
}
body {
  width: 100%;
  background: $maincolor;

  font-weight: 600;
  color: $fontCol;
}
p {
  text-align: justify;
  font-family: "Josefin Slab", serif;
}
header {
  font-size: 1em;
}
main {
  max-width: 100%;
}
#january {
  width: 85%;
  height: 10%;
  border: 1px solid rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 50px;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 7px 9px 7px 0px rgb(190 175 127);
  background-color: rgb(255, 255, 255);
  @media screen and (max-width: 688px) {
    width: 83%;
  }
}

#button {
  text-decoration: none;
  color: $fontCol;
}
#button2 {
  text-decoration: none;
  color: $fontCol;
}

#last {
  bottom: 309px;
  left: 100px;
  font-size: 3em;
  color: white;
  text-align: end;
  width: max-content;
  @media screen and (max-width: 840px) {
    font-size: 2em;
  }
  @media screen and(max-width:600px) {
    font-size: 1.6em;
  }
}
#icons {
  font-size: 2em;
  &:hover {
    cursor: pointer;
  }
  @media screen and (max-width: 800px) {
    display: none;
  }
}
.footer {
  width: 90%;
  max-width: 1440px;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 50px;
  color: wheat;
  li {
    list-style-type: none;
  }
}

#profile {
  right: 0px;
  top: 100px;
  width: 50px;
  text-align: center;
  font-size: 1.4em;
  background-color: azure;
  border-radius: 20px 0 0 20px;
}
#position {
  width: 50px;
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img,
p:hover {
  cursor: pointer;
}

#pic1 {
  border-radius: 20px;
  overflow: hidden;
}
#pic2 {
  border-radius: 20px;
  overflow: hidden;
}
#pic3 {
  border-radius: 20px;
  overflow: hidden;
}
#pic4 {
  border-radius: 20px;
  overflow: hidden;
}

#sushi {
  width: 90%;
  height: 10%;
  border: 1px solid rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 50px;
  border-radius: 10px;
  justify-content: center;
  box-shadow: -8px 8px 20px 0px rgb(182, 163, 103);
  background-color: rgb(240, 238, 226);
}

span {
  font-size: 1em;
  color: rgb(31, 73, 7);
  font-weight: bold;
}
h2 {
  color: rgb(31, 73, 7);
}
#myTit {
  font-weight: 600;
  width: 500px;
  color: rgb(31, 73, 7);
  margin-left: 200px;
  @media screen and(max-width:810px) {
    font-size: 0.5em;
  }
}
#imp {
  padding-left: 18rem !important;
  p {
    font-size: 3em;
  }
}

#card {
  border-radius: 20px;
  overflow: hidden;
  margin-top: 20px;
}
#card1 {
  border-radius: 20px;
  overflow: hidden;
  margin-top: 20px;
}
#card2 {
  border-radius: 20px;
  overflow: hidden;
  margin-top: 20px;
}
#card3 {
  border-radius: 20px;
  overflow: hidden;
  margin-top: 20px;
}

i:hover {
  cursor: pointer;
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
#myTit {
  transform: translateX(100%);
}

#myTit.slide-left {
  animation: slide-left 3s forwards;
}

@keyframes slide-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.rotate {
  animation: rotation 5s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#stop-btn:hover {
  cursor: pointer;
}

li:hover {
  cursor: pointer;
}

#piccoloGioco {
  display: none;
  color: white;
  margin-left: 40px;
  font: {
    font-family: "Josefin Slab", serif;
    size: 1.3em;
  }
}
