@import "variable";
body {
  background: linear-gradient(rgb(70, 57, 21), rgba(219, 196, 93, 0.863));
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.bar {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.menu {
  width: 200px;
  height: 100px;
  margin: 20px;
  border: 5px rgb(99, 77, 19);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 6px 1px 15px 6px rgb(171 149 90);
}
a {
  text-decoration: none;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.87);
}
